* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.box {
    width: 400px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

.box h1 {
    font-size: 3em;
}

.box button {
    width: 100px;
    height: 50px;
    font-weight: lighter;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
}

.panel {
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.277);
    position: absolute;
    animation: fade 1s ease forwards;
}

.message {
    width: 900px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 330px;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateZ(20px);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes close-fade {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    100% {
        opacity: 0;
        transform: translateZ(20px);
    }
}